.structure-calculator {
    width: 350px;
    margin: auto;
    border: 1px solid rgb(146, 146, 145);
}

.bg-top-calculator {
    background-color: rgb(51, 51, 51);
    font-size: 2.5rem;
}

.mid-calculator>div {
    font-size: 2.5rem;
    border: 1px solid rgb(146, 146, 145);
    width: calc(100% / 4);
    border-radius: 0;
}

.btn-calculator {
    width: calc(100% / 4);
}

.btn-calculator-0 {
    width: calc(100% / 2);
    flex-grow: 1;
}